/*
  960 Grid System ~ http://960.gs/
  Updated: October 2011
  Future Mobility Survey
*/

/*
(red) #A01517;
(pink) #CC6666;
(kind of grey) #667E72;
*/


/* Basic HTML
----------------------------------------------------------------------------------------------------*/

body {
  	color:#FFF;
	font: 62.5% "Georgia", sans-serif;
}



/* Text Rules
----------------------------------------------------------------------------------------------------*/
/* not so big title*/
.title_1 {
	color:#A01517;
	font-family: Georgia,"Times New Roman",Times,serif;
}

h2.title_1 {
	text-align:left;
}
p.title_1 {
	font-size:14px;
	line-height:20px;
}

/* a bigger title: Phase 1 Phase 2 Phase 3*/
p.title_2{
	font-size:14px;
	line-height:20px;
	color:#A01517;
	/*background-color:#A01517;*/
	font-weight:bold;
	padding: 4px 4px 0px 0px;
}

p.title_2 a:link {
	border-bottom: 1px solid #667E72;
}


p.title_2 a:active {
	border-bottom: 1px solid #667E72;
}

/* normal text but used as title in red (CAPS LOCK)*/
p.title_3{
	color:#A01517;
	font-size:12px;
	line-height:16px;
}

/* not so big title*/
p.title_4 {
	font-size:14px;
	line-height:20px;
	color:#667E72;
	/*background-color:#CCC;*/
	padding-top:0px;
	font-weight:bold;
}

/* normal text*/
p.content_1{
	font-size:12px;
	line-height:18px;
	color:#667E72;
	text-align:left;
	/*background-color:#FF0;*/

}

p.tutorial{
	font-size:13px;
	line-height:18px;
	color:#667E72;
	text-align:left;
	/*background-color:#FF0;*/
}

/* normal text red*/
p.content_r{
	font-size:12px;
	line-height:16px;
	text-align:left;
	color:#A01517;
	font-style:italic;
}

/* normal text bold*/
p.content_b{
	font-size:12px;
	line-height:16px;
	color:#667E72;
	text-align:left;
	font-weight:bold;
	/*background-color:#FF0;*/
	padding-bottom:5px;
}

 p.content_c{
 	font-size:12px;
 	line-height:20px;
 	color:#4D4F50;
 	text-align:left;
 }


/* normal text but italic*/
p.content_i{
	font-size:12px;
	line-height:16px;
	color:#667E72;
	font-style:italic;
	padding-top:0px;
	padding-bottom:5px;
}

p.content_i a:link{
	border-bottom: 1px solid #667E72;
}

/* instructions*/
p.instructions_1{
	font-size:10px;
	line-height:20px;
	color:#A01517;
}

/* small text*/
p.content_2{
	font-size:10px;
	line-height:12px;
	color:#CC6666;
}

/* thank you message*/
p.content_3{
	font-size:20px;
	line-height:24px;
	color:#FFF;
}

/* error text*/
p.content_error{
	font-size:12px;
	line-height:16px;
	color:#FFF;
	background-color: #A01517;
	text-align:left;
	margin: 1px 1px 1px 1px;
	padding: 3px 3px 3px 3px;
	font-style:italic;
}

p.activity_error{
	font-size:12px;
	line-height:16px;
	color:#BF5D60;
	text-align:left;
	padding-top:3px;
	padding-left:20px;
	font-style:italic;
	font-weight:bold;
}

p.wbq_feedback{
	font-size:14px;
	color:#FFF;
	background-color: #B45E60;
	text-align:left;
	margin: 1px 1px 1px 1px;
	padding: 4px;
}

/* feedback  text*/
p.content_feedback{
	font-size:12px;
	line-height:16px;
	color:#FFF;
	background-color:#690;
	text-align:left;
	margin: 1px 0px 1px 0px;
	padding: 3px 3px 3px 3px;
	font-style:italic;
}

p.content_feedback_warning {
	font-size:12px;
	line-height:16px;
	color:#8a6d3b;
	background-color:#fcf8e3;
	text-align:left;
	margin: 1px 0px 1px 0px;
	padding: 3px 3px 3px 3px;
	font-style:italic;
}

p.content_feedback_missing{
	font-size:12px;
	line-height:16px;
	color:#FFF;
	background-color:#EEAD2D;
	text-align:left;
	margin: 1px 0px 1px 0px;
	padding: 3px 3px 3px 3px;
	font-style:italic;
}

.inline_options a {
  color:#8a6d3b;
  margin-left: 10px;
  font-weight: bold
}


p.table_content{
	font-family: Verdana, Geneva, sans-serif;
	font-size:10px;
	text-align:right;
	font-weight:bold;
}


/* `Headings
----------------------------------------------------------------------------------------------------*/




h1 {
  font-size: 12px;
}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 19px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 15px;
}

/* `Spacing
----------------------------------------------------------------------------------------------------*/

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {
  margin-left: 30px;
  /*font-size:12px;*/
  line-height:18px;
  color:#667E72;
  text-align:left;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  margin-bottom: 0px;
}

/*cinza claro:#F2F2F2
cinza escuro:#E6E6E6;*/

.atti_questions th {
    background-color:#E6E6E6;
    color: #FFFFFF;
    font-size: 1.4em;
    padding-bottom: 4px;
    padding-top: 5px;
	padding-left:4px;
	padding-right:10px;
    text-align: left;
}

.table_info tr.info td {
    background-color:#FFF;
}

.table_info td, .table_info th {
	width:auto;
    /*border: 0.5px solid #CCC;*/
    padding: 5px 5px 5px 0px;
}

/*dark*/
.table_survey tr.odd td {
    background-color:#E6E6E6;
}

/*not dark*/
.table_survey tr.even td {
    background-color:#F2F2F2;
}

.table_survey tr.even td.td_1 {
	width:400px;
}

.table_survey tr.even td.td_2 {
	width:220px;
}

.table_survey td, .table_survey th {
    border: 1px solid #FFF;
    padding: 5px 5px 5px 5px;
}

/* normal text but italic applied to activity list*/
p.content_i_a {
	font-size:12px;
	line-height:16px;
	color:#333;
	font-style:italic;
	padding:0 0 5px 0;
	text-align:right;
}

/* title applied to activity list*/
p.title_5 {
	color:#4D5F56;
	font-size:11px;
	line-height:16px;
	font-weight:bold;
	font-family:Verdana, Geneva, sans-serif;
	text-align:right;
	padding:0px;
}

/*activity stuff*/
div.frame{
  padding:0 0 10px 0;
  margin-left:10px;
  height:auto;
  width:94%;
  float:left;
}

.leftcolumn {
	width:48%;
	/*border: 1px solid yellow;*/
	float: left;
	margin-right:0px;
	padding-bottom:0px;
	padding-left: 10px;
}
.leftcolumn2 { width:39%; /*border: 1px solid yellow;*/ float: left; margin-left:2px; margin-bottom:5px}
.rightcolumn { width:49%; /*border: 1px solid yellow;*/ float: right; height:auto; margin-bottom:10px}
.rightcolumn2 { width:39%; /*border: 1px solid yellow;*/float:left; padding-top:10px; padding-left:5px}
.rightcolumn3 { width:39%; /*border: 1px solid yellow;*/float:left; padding-top:15px; padding-left:7px; padding-bottom:5px; }
.rightcolumn4 { width:50%; /*border: 1px solid yellow;*/float:left; padding-top:2px}
.rightcolumn5 { width:60%; /*border: 1px solid yellow;*/float:left; padding:0px}
.frame2{/*width:85%;*/ float:left;padding-top:10px}
.frame3{width:85%; float:left; padding-left:27px; padding-top:5px}

#vehicle_type.rightcolumn5{padding:10px 0px 0px 0px;}
#park_place.rightcolumn5{padding:9px 0px 10px 0px;}
#vehicle_driver.rightcolumn4{padding:10px 0px 0px 0px;}
#fare_type.rightcolumn5{padding:10px 0px 0px 0px;}

.line { width:98%; /*border: 1px solid green;*/ float: right; padding-bottom:2px;}
.line2 { width:98%; /*border: 1px solid green;*/ float: right;}
.line3{ width:175px; border-top-width: 1px; border-top-style:dashed; border-top-color:#FFF;margin-left:20px; margin-top:5px;}
p.activity{
font-family:Verdana, Geneva, sans-serif;
font-size:10px;
color:#000;
text-align: right;
padding:11px 5px 5px 5px;
}

p.activity2{
font-family:Verdana, Geneva, sans-serif;
font-size:12px;
color:#000;
text-align:left;
padding:11px 0px 5px 0px;
}

p.activity3{
font-family:Verdana, Geneva, sans-serif;
font-size:15px;
color:#000;
text-align:left;
/*font-weight:bold;*/
/*padding-bottom:10px;*/
/*border-bottom: 1px solid #C8C8C8;
border-bottom-height:5px;
text-decoration:underline;
line-height: 12pt;*/

}

p.activity4{
font-family:Verdana, Geneva, sans-serif;
font-size:10px;
color:#000;
text-align:left;
padding:18px 0px 5px 0px;
}


p.legenda{
font-family:Verdana, Geneva, sans-serif;
font-size:9px;
color:#000;
font-style:italic;
padding-top:3px;
padding-left:20px;
/*color:#A02023;*/
}

p.legenda2{
font-family:Verdana, Geneva, sans-serif;
font-size:9px;
color:#000;
font-style:italic;
padding-top:3px;
/*color:#A02023;*/
}

p.options{
font-family:Verdana, Geneva, sans-serif;
font-size:9px;
color:#000;
text-align:center;
/*color:#A02023;*/
}

p.options2{
font-family:Verdana, Geneva, sans-serif;
font-size:9px;
color:#000;
text-align:left;
/*color:#A02023;*/
}

label.options{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#000;
	text-align:center;
	/*color:#A02023;*/
}

#previous.grid_6{padding:10px 0 10px 0; background-color:#EFEFEF; border-radius:0.2em;}
#current.grid_6{padding:10px 0 10px 0; background-color:#666;}
#next.grid_6{padding:10px 0 10px 0; background-color:#EFEFEF; border-radius:0.2em;}
#background.grid_6{background-color:#666;}

/*table{margin-left:20px;}*/
.activities td{padding:1px}
#bus {margin-right:auto; margin-left:auto}
#modes td{padding:1px 1px 0px 1px}


.class1 a:link {border-bottom: 1px solid #667E72;}
.class1 a:visited {color:#A02023;}
.class1 a:active {text-decoration: none;}
.class1 a:hover {border-bottom: 1px solid #009; color:#009;}

.class2 a:link {text-decoration: underline; color:#A02023;}
.class2 a:visited {color:#A02023;}
.class2 a:active {text-decoration: none;}
.class2 a:hover {text-decoration: underline; color:#009;}

p.phase{
	background-color:#A01D21;
	color:#FFF;
	padding:4px;
	font-size:10px;
	font-weight:bold;
	line-height: 21px;
}

table.password_rec{
	margin-left: 0px
}



@font-face {
	font-family: VanCondensedRegular;
	src: url('VanCondensed-Regular.otf');
}

@font-face {
	font-family: VanCondensedLight;
	src: url('VanCondensed-Light.otf');
}

.vancondensed {
	font-family: "VanCondensedRegular", Arial
}

.FMTitle1 {
	font-family: "VanCondensedRegular", Arial;
	color: #A01517;
	font-size: 22px;
	line-height: 26px
}

.FMSize1 {
	font-size: 22px;
}


.gearsTitle {
	margin-top: 22px;
	padding-left: 5px;
}

.element-center {
	text-align: center
}

.pac-item {
	font-size: 1.1em;
	margin: 5px;
	color: #A01517;
	border-bottom: 1px solid #DFDFDF;
}

.timechange_warnings, .newstop_warnings{
	background-color: #9F494F;
}
.timechange_warnings li, .newstop_warnings li{
	color: #FFFFFF;
}
