%p
  Hello #{@content[:user]},
%p
  Thank you for taking part in the Future Mobility Survey! You have now completed your activity diary. Please sign in to #{link_to "FM Survey", "https://www.fmsurvey.sg"} to complete a short exit survey to qualify for the thank you gift.
%p Should you have any questions, please email us at fmsurvey@smart.mit.edu or call 9124 9322
%p Thank you for your participation!
%p Best regards,
%p
  Future Urban Mobility Group
  %br/
  Singapore-MIT Alliance for Research and Technology
