#page-number
  #{page} / #{total_pages}

:javascript
  $(function() {
    $("#page-number").appendTo("#{div}");
  });

:css
  #page-number {
    color: #A01517;
    font-weight: bold;
    position: absolute;
    left: 100%;
    top: 0;
    width: 75px;
  }