.form-group{id: 'd-' + id.dasherize}
  %label.control-label
    = t("sp_experiment.labels.#{section}.questions.#{label_t}")
    = text_area_tag id, nil, class: 'form-control', rows: 5, required: required

