.clear
#password_reset.col-xs-12.col-md-6
  %p.title_2= I18n.t('profile.info')
  #feedback
    - if !flash[:notice].nil? and flash[:notice] != ''
      %p{:class => "<haml_loud"}
        "\#{flash[:class]}"  &gt; #{flash[:notice]}
  = form_for current_user, url: users_path, :html => {:class=>"form_login", :name=>"update_user_info"} do |f|
    .col-xs-8
      %table
        %tr
          %td
            %p.title_1
              = I18n.t('profile.info_username')
              \:
          %td
            = f.text_field :username
        %tr
          %td
            %p.title_1
              = I18n.t('profile.info_email')
              \:
          %td
            = f.label :email, current_user.email
    .col-xs-4
      = f.submit I18n.t('profile.info_save_btn'), :class => 'button pull-left'
  .clear
  #passwd_feedback
    - if !flash[:passwdupdated].nil? and flash[:passwdupdated] != ''
      %p{:class => "<haml_loud"}
        "\#{flash[:class]}"  &gt; #{flash[:passwdupdated]}
  = form_for current_user, url: update_password_users_path, html: {class: 'form_login', name: "change_user_password"}, method: :patch do |f|
    .col-xs-8
      %table
        %tr
          %td
            %p.title_1
              = I18n.t('profile.curr_passwd')
              \:
          %td= f.password_field :current_password
        %tr
          %td
            %p.title_1
              = I18n.t('profile.new_passwd')
              \:
          %td= f.password_field :password
        %tr
          %td
            %p.title_1
              = I18n.t('profile.conf_passwd')
              \:
          %td= f.password_field :password_confirmation
    .col-xs-4{:style => "padding-top: 10px;"}
      = f.submit I18n.t('profile.change_passwd_btn'), :class => 'button pull-left'
#travel_info.col-xs-12.col-md-3
  %p.title_2= I18n.t('profile.travel_info.title')
  %p.title_2 All tracked days
  %p
    = I18n.t('profile.travel_info.time')
    \: #{@travel_info_hash[:all_days][:total_time] || "nil"}
  %p
    = I18n.t('profile.travel_info.distance')
    \: #{@travel_info_hash[:all_days][:total_distance] || "nil"}
  - unless @travel_info_hash[:day].nil?
    .clear
    %p.title_2 Previous Day
    %p
      = I18n.t('profile.travel_info.time')
      \: #{@travel_info_hash[:day][:total_time]}
    %p
      = I18n.t('profile.travel_info.distance')
      \: #{@travel_info_hash[:day][:total_distance]}
#points.col-xs-12.col-md-3
  %p.title_2= I18n.t('profile.points.title')
  /
    <p class='title_1'><haml_loud> I18n.t(&#39;profile.points.level&#39;) </haml_loud>: <haml_loud> @level </haml_loud></p>
    <p class='title_1'><haml_loud> I18n.t(&#39;profile.points.tally&#39;) </haml_loud>: <haml_loud> @points </haml_loud></p>
  %p.title_1
    Pre-survey completed: #{current_user.completedPresurvey ? "yes" : "no"}
  %p.title_1
    = I18n.t('profile.points.days_collected')
    \: #{@days_collected}
  %p.title_1
    = I18n.t('profile.points.days_validated')
    \: #{@days_validated}
  %p.title_1
    Post-survey completed: #{current_user.completedPostSurvey ? "yes" : "no"}
.col-xs-12
  %h2 Frequent Places
  .clear
  = render 'partials/frequent_places'
