- content_for :scripts do
  = surveyor_includes
.col-xs-3
  %p.title_2.survey_title
    = yield :survey_title
    %br/
    = yield :survey_section
  %p.title_3= yield :survey_section_title
  %p.content_i= yield :survey_section_description
  %p.content_2 (5-10 minutes)
  %p.content_b  
  = yield :survey_section_icon
/ questions
.col-xs-9.presurvey
  = yield
- parent_layout "smart"
